<div class="welcome text-white">
  <div class="welcome-box d-flex justify-content-between">
    <div class="welcome-leftside leftside-welcome-width d-flex flex-column align-items-start pl-2 justify-content-center">
      <div class="font-size-lg welcome-title">
          Lazer e Qualidade.
      </div>
      <div class="font-size--sm-lg ml-3 font-weight-bold">
        Tudo que você precisa, sem dor de cabeça.
      </div>
    </div>

    <div class="welcome-rightside d-flex flex-column align-items-center pr-2 justify-content-center">
        <app-form></app-form>
    </div>
  </div>
</div>

